:root {
  --main-vanilla: rgb(242, 243, 174);
  --secondary-flax: rgb(237, 211, 130);
  --tertiary-sandy-brown: rgb(252, 158, 79);
  --quaternary-giants-orange: rgb(255, 82, 27);
  --quinary-oxford-blue: rgb(2, 1, 34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

/* Main Container */
.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
}

/* Header */
.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
  z-index: 1;
}

.main-header-container {
  padding: 1.5rem;
}

/* Sidebar */
.sidebar {
  grid-area: 1 / 1 / 4 / 2;
  background-color: var(--secondary-flax);
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sidebar img {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
}

.sidebar-divider {
  height: 0.25rem;
  border-radius: 25px;
  width: 90%;
  background-color: var(--quinary-oxford-blue);
  align-self: center;
  margin: 1rem 0 1rem 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.icons {
  width: 2rem;
  height: 2rem;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
}

.log-out {
  margin-top: auto;
}

.navbar a {
  text-decoration: none;
  color: var(--quinary-oxford-blue);
  transition: all 0.15s ease-in;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.navbar a:hover {
  color: var(--main-vanilla);
  background-color: var(--quinary-oxford-blue);
  transition: all 0.15s ease-in;
}

/* Main */
.main {
  background-color: rgb(200, 200, 200);
}

/* Footer */
.footer {
  height: 100px;
  background-color: white;
  box-shadow: 0px -5px 5px -2px rgba(0,0,0,0.75);
  z-index: 1;
  /* This is only to be seen */
}