:root {
  --main-vanilla: rgb(242, 243, 174);
  --secondary-flax: rgb(237, 211, 130);
  --tertiary-sandy-brown: rgb(252, 158, 79);
  --quaternary-giants-orange: rgb(255, 82, 27);
  --quinary-oxford-blue: rgb(2, 1, 34);
  --card-title-size: 1.5rem;
  --card-paragraph-size: 3.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body, button, input, select, textarea, option, optgroup, legend, fieldset, output {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Main Container */
.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr auto;
}

/* Header */
.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--main-vanilla);
  box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
  z-index: 1;
}

.main-header-container {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 2rem;
}

.main-header-container > h1 {
  font-size: 3rem;
  white-space: nowrap;
  transition: ease-out all 0.25s;
  cursor: pointer;
}

.main-header-container > h1:hover {
  color: var(--quaternary-giants-orange);
  transform: scale(1.05);
  transition: ease-in all 0.25s;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

form {
  flex: 1;
}

input[type = search] {
  font-size: 1.25rem;
  font-weight: 600;
  outline: var(--quinary-oxford-blue) solid 2px;
  border: none;
  background-color: rgb(227, 227, 227);
  height: 1rem;
  border-radius: 25px;
  padding: 1.5rem;
  width: 100%;
  word-spacing: 0.15rem;
  min-width: 300px;
}

.user-profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-profile-container > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

/* Sidebar */
.sidebar {
  grid-area: 1 / 1 / 4 / 2;
  background-color: var(--secondary-flax);
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 400px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sidebar img {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
}

.sidebar-divider {
  height: 0.25rem;
  border-radius: 25px;
  width: 90%;
  background-color: var(--quinary-oxford-blue);
  align-self: center;
  margin: 1.5rem 0 1.5rem 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.icons {
  width: 2rem;
  height: 2rem;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
}

.log-out {
  margin-top: auto;
}

.navbar a {
  text-decoration: none;
}

.sidebar-buttons:hover {
  color: var(--main-vanilla);
  background-color: var(--quinary-oxford-blue);
  transition: all 0.15s ease-in;
  font-weight: 600;
}

.sidebar-buttons {
  color: var(--quinary-oxford-blue);
  transition: all 0.15s ease-in;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  white-space: nowrap;
  cursor: pointer;
}

/* Main */
.main {
  background-color: rgb(225, 225, 225);
  padding: 4rem;
}

.top-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}

.top-card-left, 
.top-card-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.top-card {
  padding: 2rem;
  border-radius: 2rem;
  transition: all 0.25s ease-out;
  cursor: pointer;
  border: var(--quinary-oxford-blue) solid 3px;
}

.card-4 {
  border: var(--secondary-flax) solid 3px;
}

.top-card:hover {
  transition: all 0.25s ease-in;
  transform: scale(1.02);
  box-shadow: 0px 0px 3px 1px var(--quinary-oxford-blue);
}

.card-4:hover {
  box-shadow: 0px 0px 3px 1px var(--secondary-flax);
}

.card-1 > h3, 
.card-2 > h3, 
.card-3 > h3, 
.card-4 > h3 {
  font-size: var(--card-title-size);
}

.card-1 > p, 
.card-2 > p, 
.card-3 > p, 
.card-4 > p {
  font-size: var(--card-paragraph-size);
}

.card-1 {
  background-color: var(--secondary-flax);
  color: var(--quinary-oxford-blue);
}

.card-2 {
  background-color: var(--tertiary-sandy-brown);
  color: var(--quinary-oxford-blue);
}

.card-3 {
  background-color: var(--quaternary-giants-orange);
  color: var(--quinary-oxford-blue);
}

.card-4 {
  background-color: var(--quinary-oxford-blue);
  color: var(--main-vanilla);
}

.bottom-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
  margin: 5rem 0 5rem 0;
}

.bottom-card {
  display: grid;
  grid-template-columns: 250px auto 1fr;
  grid-template-rows: 400px;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  transition: 0.25s;
  cursor: pointer;
}

/* Apply opacity change ONLY if a card is hovered */
.bottom-cards-container:has(.bottom-card:hover) .bottom-card:not(:hover) {
  opacity: 0.3;
}

/* Scale and keep full opacity on hovered card */
.bottom-card:hover {
  transform: scale(1.05);
  opacity: 1;
}

.bottom-card-left {
  overflow: hidden;
  border-radius: 1rem 0 0 1rem;
}

.bottom-card-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
  transition: 0.25s;
}

.bottom-card-left img:hover {
  transform: scale(1.05);
}

.book-status-read {
  height: 100%;
  width: 10px;
  background-color: var(--tertiary-sandy-brown); /* For visibility */
}

.book-status-reading {
  height: 100%;
  width: 10px;
  background-color: var(--secondary-flax); /* For visibility */
}

.bottom-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  line-height: 2rem;
}

.bottom-card-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bottom-card-details > h3 {
  font-size: 2rem;
}

.bottom-card-details > p {
  font-size: 1.5rem;
}

.bottom-card-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bottom-card-status > p {
  font-size: 1.5rem;
}

.card-button-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.card-button {
  height: 2.5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: var(--quinary-oxford-blue) solid 2px;
  cursor: pointer;
  transition: 0.15s;
}

.card-button:hover {
  transform: scale(1.2);
}

.card-edit-button {
  background-color: rgb(136, 209, 255);
}

.card-delete-button {
  background-color: rgb(255, 80, 80);
}

.card-edit-button:hover {
  background-color: var(--quinary-oxford-blue);
  color: rgb(136, 209, 255);
  border: rgb(136, 209, 255) solid 3px;
}

.card-delete-button:hover {
  background-color: var(--quinary-oxford-blue);
  color: rgb(255, 80, 80);
  border: rgb(255, 80, 80) solid 3px;
}

/* Modal */
dialog {
  margin: auto auto;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
  border: var(--quinary-oxford-blue) solid 2px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.modal-content {
  padding: 20px 30px;
  background-color: var(--secondary-flax);
}

/* Close Button for Modal */
.modal-close {
  position: absolute;
  top: 0px;
  right: 20px;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  font-size: 3rem;
  cursor: pointer;
}

.add-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.add-book > h3 {
  font-size: 3rem;
}

.input {
  font-size: 2rem;
  padding: 1rem;
  border: var(--quinary-oxford-blue) solid 3px;
  background-color: #eeeeee;
  border-radius: 25px;
}

.input,
.ratings-container {
  opacity: 1;
  display: block;
  transform: scale(1);
  transition-property: opacity, display, transform;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.input.current-page.hidden,
div.ratings-container.hidden {
  opacity: 0;
  display: none;
  transform: scale(0.8);
}

@starting-style {
  .input,
  div.ratings-container {
    opacity: 0;
    transform: scale(0.8);
  }
}

#imageUpload {
  display: none;
}

.image-button {
  background-color: var(--quinary-oxford-blue);
  color: var(--main-vanilla);
  border: var(--quinary-oxford-blue) solid 2px;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.image-button:hover {
  background-color: var(--main-vanilla);
  color: var(--quinary-oxford-blue);
  transition: all 0.15s ease-in;
  font-weight: 800;
  border: var(--quinary-oxford-blue) solid 2px;
}

.warning-container {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--secondary-flax);
}

.warning-container::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--triangle-color);
}

#imageWarning {
  font-size: 1rem;
  font-weight: 700;
}

/* The switch */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b2b2b2;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--quaternary-giants-orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--quaternary-giants-orange);
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.slider.rounded {
  border-radius: 34px;
}

.slider.rounded:before {
  border-radius: 50%;
}

.option-left,
.option-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: var(--quinary-oxford-blue);
  font-weight: 700;
  transition: opacity 0.4s;
  pointer-events: none;
}

.option-left {
  left: -150px;
  opacity: 1;
}

.option-right {
  right: -130px;
  opacity: 0;
}

input:checked ~ .option-left {
  opacity: 0;
}

input:checked ~ .option-right {
  opacity: 1;
}

.ratings-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 4rem;
  cursor: pointer;
}

.ratings-container-small {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  -webkit-text-stroke: 2px var(--quinary-oxford-blue);
}

.ratings-container span {
  color: #dcdcdc;
  transition: color 0.2s;
  -webkit-text-stroke: 3px var(--quinary-oxford-blue);
}

.ratings-container span:hover,
.ratings-container span:hover ~ span {
  color: gold;
}

.ratings-container.selected span {
  color: gold;
}

.submit-btn {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  background-color: var(--quinary-oxford-blue);
  color: var(--main-vanilla);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.submit-btn:hover {
  background-color: var(--main-vanilla);
  font-weight: 800;
  color: var(--quinary-oxford-blue);
  transition: all 0.15s ease-in;
}

/* Animations */
dialog[open] {
  animation: fadeIn 0.25s ease-in forwards;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: scale(0.95);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

/* Media Queries */
@media (max-width: 1500px) {
  .top-card-left,
  .top-card-right {
    grid-template-columns: 1fr;
  }
}